<link href="/css/chart-view.css" rel="stylesheet">
<script>const chartId = '{{id}}';</script>
<script src="/js/main.js"></script>
<script src="/js/chart-view.js"></script>
<script src="//kit.fontawesome.com/3d786f588f.js" crossorigin="anonymous"></script>
<header>
	<div class="title">Top 100 Songs:</div>
	<div>
		<select id="chart-date"></select>
	</div>
</header>
<main>
	<div id="chart-table-container">
		<table id="chart-table">
			<tbody>
				<tr>
					<td>#</td>
					<td>Title</td>
					<td>Artist</td>
					<td>Change</td>
				</tr>
				{{#each data}}
					<tr class="{{#if isTop40}}top-40{{/if}} {{#if isTop10}}top-10{{/if}}">
						<td>
							{{position}}
						</td>
						<td>
							<a href="/songs/{{song_id}}/charts">{{song_title}}</a>
						</td>
						<td>
							<a href="/artists/{{artist_id}}/songs">{{artist_name}}</a>
						</td>
						<td>
							{{#if isFirstWeek}}
								<span class="change-new">NEW</span>
							{{else}}
								{{#if changeNone}}
									<span class="change-none">
										<i class="fa-regular fa-circle-pause change-none"></i> 0
									</span>
								{{else}}
									{{#if changeUp}}
										<span class="change-up">
											<i class="fa-regular fa-circle-up"></i>
											{{change}}
										</span>
									{{else}}
										<span class="change-down">
											<i class="fa-regular fa-circle-down change-down"></i>
											{{change}}
										</span>
									{{/if}}
								{{/if}}
							{{/if}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<footer>
			<div class="footer-select">
				<div>
					<select id="artists"></select>
				</div>
			</div>
		</footer>
	</div>
</main>


